*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}

body{
    background-color: #e7e7e7;
    padding-top: 100px;
    width: 100vw;
    height: 100vh;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

header{
    margin-bottom: 40px;
}

header h1{
    text-align: center;
    font-size: 45px;
}

form{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 30px;
}

input, button{
    font-size: 24px;
    width: 220px;
    padding: 5px;
}

table{
    width: 100%;    
}

table thead th{
    border-bottom: 2px solid black;
    font-size: 24px;
    padding: 5px;
}

table tbody td{
    border-bottom: 1px solid black;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}